<% include partials/header %>
<div class="row">
<div class="col-lg-4 list">
	<h1>Important Today<i class="fa fa-plus" aria-hidden="true"></i></h1> 
	<input type="text" placeholder="Add New Task">
	<ul>
	    <% tasks.forEach(function(task){ %>
	        <% if (task.urgencylevel===0 && task.importancelevel===0) { %>
	        <li <% if (task.completed) { %> class="completed" <% } %> ><span class="X"><i class="fa fa-trash" aria-hidden="true"></i></span> <%= task.name %> <span class="taskID"><%= task._id %></span></span></li>
	 <% }  }); %>
	</ul>
</div>

<div class="col-lg-4 list">
	<h1>This Month<i class="fa fa-plus" aria-hidden="true"></i></h1> 
	<input type="text" placeholder="Add New Task">
	<ul>
	      <% tasks.forEach(function(task){ %>
	        <% if (task.urgencylevel===1 && task.importancelevel===0) { %>
	        <li><span class="X"><i class="fa fa-trash" aria-hidden="true"></i></span> <%= task.name %> </li>
	 <% }  }); %>
	</ul>
</div>

<div class="col-lg-4 list">
	<h1>This Year<i class="fa fa-plus" aria-hidden="true"></i></h1> 
	<input type="text" placeholder="Add New Task">
	<ul>
	      <% tasks.forEach(function(task){ %>
	        <% if (task.urgencylevel===2 && task.importancelevel===0) { %>
	        <li><span class="X"><i class="fa fa-trash" aria-hidden="true"></i></span> <%= task.name %> </li>
	 <% }  }); %>
	</ul>
</div>
</div>

<div class="row">
<div class="col-lg-4 list">
	<h1>Nice This Week<i class="fa fa-plus" aria-hidden="true"></i></h1> 
	<input type="text" placeholder="Add New Task">
	<ul>
	      <% tasks.forEach(function(task){ %>
	        <% if (task.urgencylevel===0 && task.importancelevel===1) { %>
	        <li><span class="X"><i class="fa fa-trash" aria-hidden="true"></i></span> <%= task.name %> </li>
	 <% }  }); %>
	</ul>
</div>


<div class="col-lg-4 list">
	<h1>Soon<i class="fa fa-plus" aria-hidden="true"></i></h1> 
	<input type="text" placeholder="Add New Task">
	<ul>
	      <% tasks.forEach(function(task){ %>
	        <% if (task.urgencylevel===1 && task.importancelevel===1) { %>
	        <li><span class="X"><i class="fa fa-trash" aria-hidden="true"></i></span> <%= task.name %> </li>
	 <% }  }); %>
	</ul>
</div>

<div class="col-lg-4 list">
	<h1>Eventually<i class="fa fa-plus" aria-hidden="true"></i></h1> 
	<input type="text" placeholder="Add New Task">
	<ul>
	      <% tasks.forEach(function(task){ %>
	        <% if (task.urgencylevel===2 && task.importancelevel===1) { %>
	        <li><span class="X"><i class="fa fa-trash" aria-hidden="true"></i></span> <%= task.name %> </li>
	 <% }  }); %>
	</ul>
</div>
</div>

<div class="row">
<div class="col-lg-4 list">
	<h1>Wishlist<i class="fa fa-plus" aria-hidden="true"></i></h1> 
	<input type="text" placeholder="Add New Task">
	<ul>
	      <% tasks.forEach(function(task){ %>
	        <% if (task.urgencylevel===0 && task.importancelevel===2) { %>
	        <li><span class="X"><i class="fa fa-trash" aria-hidden="true"></i></span> <%= task.name %> </li>
	 <% }  }); %>
	</ul>
</div>


<div class="col-lg-4 list">
	<h1>Soon-ish<i class="fa fa-plus" aria-hidden="true"></i></h1> 
	<input type="text" placeholder="Add New Task">
	<ul>
	      <% tasks.forEach(function(task){ %>
	        <% if (task.urgencylevel===1 && task.importancelevel===2) { %>
	        <li><span class="X"><i class="fa fa-trash" aria-hidden="true"></i></span> <%= task.name %> </li>
	 <% }  }); %>
	</ul>
</div>

<div class="col-lg-4 list">
	<h1>Someday<i class="fa fa-plus" aria-hidden="true"></i></h1> 
	<input type="text" placeholder="Add New Task">
	<ul>
	      <% tasks.forEach(function(task){ %>
	        <% if (task.urgencylevel===2 && task.importancelevel===2) { %>
	        <li><span class="X"><i class="fa fa-trash" aria-hidden="true"></i></span> <%= task.name %> </li>
	 <% }  }); %>
	</ul>
</div>


</div>

<% include partials/footer %>